<!-- dungeon_company_app/templates/about.html -->

{% extends 'base.html' %}

{% block title %}О Компании - Dungeon Company{% endblock %}

{% block content %}
<div class="jumbotron mt-5 text-center" style="background: linear-gradient(135deg, #5B84B1 0%, #8F5B8F 100%); color: #fff; padding: 30px; border-radius: 15px;">
    <h1 class="display-4">О Компании</h1>
    <p class="lead">Наша компания, Dungeon Company, предлагает широкий ассортимент настольных игр для всех возрастов и вкусов. Мы гордимся тем, что помогаем семьям и друзьям проводить время весело и увлекательно.</p>
    <p>С нами вы можете открыть для себя мир настольных игр, наслаждаясь разнообразием жанров, от стратегий до карточных игр.</p>
    <p>Присоединяйтесь к нашему сообществу игроков, и погрузитесь в увлекательный мир Dungeon Company!</p>
</div>
{% endblock %}
