<!-- dungeon_company_app/templates/base.html -->

{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Bootstrap CSS -->
    {% bootstrap_css %}
    <title>{% block title %}Dungeon Company{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <a class="navbar-brand" href="/">Dungeon Company</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'search_results' %}">
    {% csrf_token %}
    <input class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Поиск" name="q">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Найти</button>
</form>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">О Компании</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'catalog' %}">Каталог</a>
                </li>
                 {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'profile' %}">Профиль</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Выйти</a>
                        </li>
                        {% if user.is_staff %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'add_product' %}">Добавить товар</a>
                            </li>
                        {% endif %}
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'register' %}">Регистрация</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Вход</a>
                        </li>
                    {% endif %}
            </ul>
        </div>
    </nav>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Bootstrap JS -->
    {% bootstrap_javascript %}
</body>
</html>
