<!-- dungeon_company_app/templates/product_detail.html -->

{% extends 'base.html' %}

{% block title %}{{ product.name }} - Dungeon Company{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
            <div class="card" style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                <img src="{{ product.image.url }}" class="card-img-top img-thumbnail" alt="{{ product.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">Краткие правила игры:</h6>
                    <p class="card-text">{{ product.game_rules }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
